development: &defaults
  adapter: mysql
  database: gemcutter_development
  user: root
  password: 
  
test: &TEST
  <<: *defaults
  database: gemcutter_test

cucumber:
  <<: *TEST

production:
  <<: *defaults
  database: gemcutter_production
